.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# main/
# playground/
# github/
# .hidden
# .trash

# *
# !portfolio/

# **/data/raw
# **/data/interim
# **/data/processed
# **/data/external

# *.csv
# *-copy.csv
# *.xls*
# */*/data/*
